/* done */
* {
  font-family: system-ui, sans-serif;
}

/* done */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
}

/* done */
.logo {
  margin-top: 30px;
  width: 50%;
}

/* done */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
}

/* to test */
.chatbox {
  width: 90%;
  /* height: 400px; */
  height: 50vh;
  overflow: auto;
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}

/* done */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 650px;
}

/* done */
input[type="text"] {
  position: absolute;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-size: 20px;
  padding: 12px 15px;
  border-radius: 5px;
}

/* to test */
.input-container #send {
  position: absolute;
  right: 0;
  bottom: -10px;
  cursor: pointer;
}

/* done */
input:focus {
  outline: none;
}

.message {
  margin-bottom: 10px;
}

.user {
  color: blue;
}

.bot {
  color: green;
}

/* to test */
.link {
  color: #858585;
  font-size: 14px; 
  margin-bottom: 5px;
}
