.html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    font-family: sans-serif;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.logo {
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
}

.input-box {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: #fff;
    text-align: center;
}

.submit-button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #EF4342; 
    cursor: pointer;
}

.link {
    margin-top: 30px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}
