/* done */
* {
  font-family: system-ui, sans-serif;
}

/* done */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
}

/* done */
.logo {
  margin-top: 30px;
  width: 50%;
}

/* done */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
}

/* to test */
.chatbox {
  width: 90%;
  height: 400px;
  overflow: auto;
  border: 1px solid #fff;
  text-align: left;
  padding: 10px;
}

/* done */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 650px;
}

/* done */
input[type="text"] {
  position: absolute;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-size: 20px;
  padding: 12px 15px;
  border-radius: 5px;
}

/* to test */
.input-container #send {
  position: absolute;
  right: 0;
  bottom: -10px;
  cursor: pointer;
}

/* done */
input:focus {
  outline: none;
}

.user-avatar {
    width: 8%;
    border-radius: 50%; 
    margin-right: 10px; 
    vertical-align: middle;
    margin-bottom: auto;
}

.bot-avatar {
    width: 8%;
    border-radius: 50%; 
    margin-right: 10px; 
    vertical-align: middle;
    margin-bottom: auto;
}

.message {
  align-items: center;
  display: flex;
}

.user {
  /* background-color: #fff; */
  color: #000;
  padding: 10px;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;  
  border-bottom-width: thin;
  border-top-color: #dbdbdb;
  border-top-style: solid;  
  border-top-width: thin;
}

.bot {
  background-color: #f0f0f0;
  color: #000;
  padding: 10px;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;  
  border-bottom-width: thin;
  border-top-color: #dbdbdb;
  border-top-style: solid;  
  border-top-width: thin;
}

/* to test */
.link {
  color: #858585;
  font-size: 14px; 
  margin-bottom: 2px;
}
